/*
Fonts
====================
*/

/*
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dosis:wght@300&family=Fascinate&family=Fredoka+One&family=Gruppo&family=Manrope:wght@300&family=Orbitron&family=Signika+Negative:wght@300&display=swap');
*/

/*
.font-FredokaOne {
    font-family: 'Fredoka One', cursive;
}

.font-ConcertOne {
    font-family: 'Concert One', cursive;
}

.font-Dosis {
    font-family: 'Dosis', sans-serif;
}

.font-Fascinate {
    font-family: 'Fascinate', cursive;
}

.font-Gruppo {
    font-family: 'Gruppo', cursive;
}

.font-Manrope {
    font-family: 'Manrope', sans-serif;
}

.font-Orbitron {
    font-family: 'Orbitron', sans-serif;
}

.font-SignikaNegative {
    font-family: 'Signika Negative', sans-serif;
}
*/

/*
Variables
====================
*/

:root {
  /* Colors */
  /* Colors - blue */
  --light-blue: rgb(230, 240, 255);
  --medium-blue: rgb(104, 144, 184);
  --dark-blue: rgb(53, 85, 117);

  /* Colors - purple (blue secondary) */
  --light-purple: rgb(192, 179, 221);
  --medium-purple: rgb(126, 110, 163);

  /* Colors - green */
  --light-green: rgb(214, 238, 169);
  --medium-green: rgb(148, 192, 107);
  --dark-green: rgb(54, 94, 54);

  /* Colors - green */
  --light-orange: rgb(255, 208, 121);
  --medium-orange: rgb(230, 152, 64);
  --dark-orange: rgb(209, 109, 63);

  /* Colors - red */
  --light-red: rgb(255, 191, 191);
  --medium-red: rgb(223, 104, 114);
  --dark-red: rgb(100, 38, 49);

  /* Layout */
  --gap: 2rem;

  /* Time */
  --duration: 6s;
}

/*
Layout
====================
*/

/*
Layout - general
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Concert One', cursive;
}

/*
Layout - wrapper and content
*/

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--light-blue);
}

.content {
  position: relative;
}

.content > * {
  padding: var(--gap);
  margin: var(--gap);
  border-radius: var(--gap);
}

.content > *:not(:nth-child(4)) {
    /*
    :nth-child(4) because .converter is the fourth child in the DOM
    it is the first visible child since inputs are not displayd
    */
  margin-top: 0;
}

/*
Layout - converter
*/

.checkDataType {
  display: none;
}

.converter {
  position: relative;
  background-color: var(--medium-blue);
  box-shadow: 5px 0 0 var(--medium-purple);
}

#dataTypeDec:checked ~ .converter {
  /* dec theme - converter */
  background-color: var(--medium-orange);
  box-shadow: 5px 0 0 var(--medium-blue);
}

#dataTypeHex:checked ~ .converter {
  /* hex theme - converter */
  background-color: var(--medium-green);
  box-shadow: 5px 0 0 var(--medium-orange);
}

.converter::before,
.warning::before {
  position: absolute;
  right: var(--gap);
  top: calc((var(--gap) * -1));
  font-family: 'Fredoka One', cursive;
  font-size: calc(var(--gap) * 1.5);
}

.converter::before {
  content: '1011';
  color: var(--dark-blue);
  text-shadow: 3px 0px 0px var(--medium-purple);
}

#dataTypeDec:checked ~ .converter::before {
  /* dec theme - converter::before */
  content: '0–9';
  color: var(--dark-orange);
  text-shadow: 3px 0px 0px var(--dark-blue);
}

#dataTypeHex:checked ~ .converter::before {
  /* hex theme - converter::before */
  content: '#12AB';
  color: var(--dark-green);
  text-shadow: 3px 0px 0px var(--dark-orange);
}

.converter :not(:nth-child(1)):not(.converter > * > *) {
  margin-top: calc(var(--gap) * 0.5);
}

/*
Layout - converter - checkboxes
*/

.converter ul {
  list-style: none;
}

.converter ul li {
  display: inline-block;
}

.converter label {
  display: flex;
  align-items: center;
  margin-right: calc(var(--gap) * 0.5);
  margin-left: calc((var(--gap) * 0.75));
  cursor: pointer;
  position: relative;
}

.converter label::before,
.converter label::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.converter label::before {
  left: calc((var(--gap) * 0.75) * -1);
  width: calc(var(--gap) * 0.5);
  height: calc(var(--gap) * 0.5);
  background-color: white;
  box-shadow: inset 2px 0 0 var(--medium-purple);
}

#dataTypeDec:checked ~ .converter label::before {
  /* dec theme - label::before */
  box-shadow: inset 2px 0 0 var(--medium-blue);
}

#dataTypeHex:checked ~ .converter label::before {
  /* hex theme - label::before */
  box-shadow: inset 2px 0 0 var(--medium-orange);
}

.converter label::after {
  left: calc((var(--gap) * 0.6) * -1);
  width: calc(var(--gap) * 0.25);
  height: calc(var(--gap) * 0.25);
  background-color: var(--medium-blue);
  box-shadow: inset -2px 0 0 var(--medium-purple);
  display: none;
}

#dataTypeDec:checked ~ .converter label::after {
  /* dec theme - label::after */
  background-color: var(--medium-orange);
  box-shadow: inset -2px 0 0 var(--medium-blue);
}

#dataTypeHex:checked ~ .converter label::after {
  /* hex theme - label::after */
  background-color: var(--medium-green);
  box-shadow: inset -2px 0 0 var(--medium-orange);
}

#dataTypeDec:checked ~ .converter li:nth-child(1) label::after {
  background-color: var(--medium-orange);
  display: block;
}

#dataTypeBit:checked ~ .converter li:nth-child(2) label::after {
  background-color: var(--medium-blue);
  display: block;
}

#dataTypeHex:checked ~ .converter li:nth-child(3) label::after {
  background-color: var(--medium-green);
  display: block;
}

/*
Layout - converter - checkboxes
*/

.converter .userInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.inputRound,
button.buttonRound {
  border: none;
  outline: none;
  padding: calc(var(--gap) * 0.25);
  border-radius: calc(var(--gap) * 0.25);
  font-size: 1rem;
}

input.inputRound {
  flex-grow: 1;
  margin-right: calc(var(--gap) * 0.5);
  box-shadow: inset 3px 0 0 var(--medium-purple);
}

#dataTypeDec:checked ~ .converter .inputRound {
  /* dec theme - .inputRound */
  box-shadow: inset 3px 0 0 var(--medium-blue);
}

#dataTypeHex:checked ~ .converter .inputRound {
  /* hex theme - .inputRound */
  box-shadow: inset 3px 0 0 var(--medium-orange);
}

button.buttonRound {
  min-width: 60px;
  background-color: var(--light-blue);
  box-shadow: 3px 0 0 var(--medium-purple);
  color: var(--dark-blue);
  cursor: pointer;
}

#dataTypeDec:checked ~ .converter .buttonRound {
  /* dec theme - .buttonRound */
  background-color: var(--light-orange);
  box-shadow: 3px 0 0 var(--medium-blue);
  color: var(--dark-orange);
}

#dataTypeHex:checked ~ .converter .buttonRound {
  /* hex theme - .buttonRound */
  background-color: var(--light-green);
  box-shadow: 3px 0 0 var(--medium-orange);
  color: var(--dark-green);
}

button.buttonRound:active {
  background-color: var(--dark-blue);
  box-shadow: 0 0 0 var(--medium-purple);
  color: var(--light-blue);
  transform: translateX(3px);
}

#dataTypeDec:checked ~ .converter .buttonRound:active {
  /* dec theme - .buttonRound:active */
  background-color: var(--dark-orange);
  box-shadow: 0 0 0 var(--medium-blue);
  color: var(--light-orange);
}

#dataTypeHex:checked ~ .converter .buttonRound:active {
  /* hex theme - .buttonRound:active */
  background-color: var(--dark-green);
  box-shadow: 0 0 0 var(--medium-orange);
  color: var(--light-green);
}

/*
Layout - converter - animations
*/

.zoomer {
  position: absolute;
  color: var(--dark-blue);
  opacity: 0;
}

#dataTypeDec:checked ~ .converter .zoomer {
  /* dec theme - .zoomer */
  color: var(--dark-orange);
}

#dataTypeHex:checked ~ .converter .zoomer {
  /* hex theme - .zoomer */
  color: var(--dark-green);
}

.zoomer::before {
  content: '10110101';
  animation: bitRandom 1.5s infinite linear;
}

@keyframes bitRandom {
  0% {
    content: '10110101';
  }
  25% {
    content: '10001001';
  }
  50% {
    content: '11110101';
  }
  75% {
    content: '01001010';
  }
  100% {
    content: '11000001';
  }
}

#dataTypeDec:checked ~ .converter .zoomer::before {
  /* dec theme - .zoomer::before */
  content: '10, 20, 30, 40';
  animation-name: decRandom;
}

@keyframes decRandom {
  0% {
    content: '10, 20, 30, 40';
  }
  25% {
    content: '25, 50, 75, 100';
  }
  50% {
    content: '5, 15, 30, 60';
  }
  75% {
    content: '12, 24, 48, 96';
  }
  100% {
    content: '14, 99, 68, 37';
  }
}

#dataTypeHex:checked ~ .converter .zoomer::before {
  /* hex theme - .zoomer::before */
  content: '#12AB';
  animation-name: hexRandom;
}

@keyframes hexRandom {
  0% {
    content: '#12AB';
  }
  25% {
    content: '#C09D';
  }
  50% {
    content: '#2F5E';
  }
  75% {
    content: '#81BA';
  }
  100% {
    content: '#CDF7';
  }
}

.zoomer:nth-child(1) {
  font-family: 'Dosis', sans-serif;
  top: -5%;
  left: 10%;
  animation: zoomTopLeft var(--duration) infinite linear;
}

@keyframes zoomTopLeft {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -25%) scale(1.25);
    opacity: 0.9;
  }
  100% {
    transform: translate(-100%, -50%) scale(1.5);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

.zoomer:nth-child(2) {
  font-family: 'Orbitron', sans-serif;
  bottom: 0;
  left: 20%;
  animation: zoomBottomLeft var(--duration) infinite linear;
  animation-delay: 1s;
}

@keyframes zoomBottomLeft {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 30%) scale(1.25);
    opacity: 0.9;
  }
  100% {
    transform: translate(-100%, 60%) scale(1.5);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

.zoomer:nth-child(3) {
  font-family: 'Signika Negative', sans-serif;
  bottom: 10%;
  right: 20%;
  animation: zoomBottomRight var(--duration) infinite linear;
  animation-delay: 2s;
}

@keyframes zoomBottomRight {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
  50% {
    transform: translate(50%, 30%) scale(1.25);
    opacity: 0.9;
  }
  100% {
    transform: translate(100%, 60%) scale(1.5);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

/*
Layout - warning
*/

.turnOff {
  display: none;
}

.warning {
  position: absolute;
  width: calc(100% - (var(--gap) * 2));
  min-height: var(--gap);
  background-color: var(--light-red);
  box-shadow: 5px 0 0 var(--medium-red);
  color: var(--dark-red);
}

.warning::before {
  content: '!';
  color: var(--dark-red);
  text-shadow: 3px 0px 0px var(--medium-red);
}

.warning.off {
  transform: translateY(var(--gap));
  opacity: 0;
}

.off.warning::before {
  top: calc((var(--gap) * 0.5) * -1);
}

.warning:not(.off) {
  transform: translateY(0);
  opacity: 1;
}

.warning:not(.off)::before,
.warning.off,
.off.warning::before,
.warning:not(.off) {
  transition: 1s ease;
}
